@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/924/1/144/password-wallpaper-preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
